<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
  <listener class-name="Com.Resources.Listeners"></listener>
</listeners>
  <test  name="Test">
	  <classes>
      <class name="seleniumtestngproject.RegistrationTestcases"/>
      <class name="seleniumtestngproject.LoginTestcases"/>
      <class name="seleniumtestngproject.CurrencybuttonTestcase"/>
      <class name="seleniumtestngproject.HomepageLinkTestcase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
